apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: spedisjon
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  strategy:
    type: Recreate
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  resources:
    limits:
      cpu: 2000m
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 128Mi
  replicas:
    min: 1
    max: 3
    cpuThresholdPercentage: 90
  kafka:
    pool: nav-prod
  prometheus:
    enabled: true
    path: /metrics
  gcp:
    sqlInstances:
      - type: POSTGRES_14
        diskAutoresize: true
        pointInTimeRecovery: true
        tier: db-custom-4-15360
        name: spedisjon
        databases:
          - name: spedisjon
            envVarPrefix: DATABASE
  secureLogs:
    enabled: true
  env:
  - name: KAFKA_CONSUMER_GROUP_ID
    value: spedisjon-v1
  - name: KAFKA_RAPID_TOPIC
    value: tbd.rapid.v1
  - name: KAFKA_EXTRA_TOPIC
    value: flex.sykepengesoknad,helsearbeidsgiver.privat-sykepenger-inntektsmelding
  - name: KARANTENE_TID
    value: "300"
  - name: PULS_TID
    value: "60"

